@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProductAddModel

<div class="container mt-5 col-md-4">
    <h2 class="mb-4">Add Product</h2>
    <form asp-action="AddProduct" method="post" class="needs-validation" novalidate>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label">Product Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CostPrice" class="control-label">Cost Price</label>
            <input asp-for="CostPrice" class="form-control" />
            <span asp-validation-for="CostPrice" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Qty" class="control-label">Quantity</label>
            <input asp-for="Qty" class="form-control" />
            <span asp-validation-for="Qty" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>
